{% extends 'user_in.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .button-link {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007BFF;
      color: white;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
    }

    .button-link:hover {
      background-color: #0056b3;
    }

    .container {

      padding: 20px;
      padding-left: 10px;
      max-width: 100%;
    }

    .container form {
      justify-items: center;
    }

    .form {
      display: block;
    }
  </style>
</head>

<body>
  <div class="container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      {{ login.as_p }}
      <img src="{{ form.instance.img.url }}" alt="Default Logo" width="2px">
      
      <a href="{% url 'user_in' %}" >_</a>
      <a href="{% url 'change_userpass' %}" >change password</a>
      
      <button type="submit">Submit</button>
    </form>
  </div>
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  
</body>

</html>
{% endblock %}